{% extends 'cv/base.html' %}

{% block content %}
    {% for elements in content %}
        <h3>About Me:</h3>
        <div class='cv_content'>
            <p id='about'>
                {{ elements.about |linebreaksbr}}
            </p>
        </div>
        <h3>Work Experience:</h3>
        <div class='cv_content'>
            <p id='work'>
                {{ elements.work |linebreaksbr}}
            </p>
        </div>
        <h3>Skills:</h3>
        <div class='cv_content'>
            <p id='skills'>
                {{ elements.skills |linebreaksbr}}
            </p>
        </div>
        <h3>Education:</h3>
        <div class='cv_content'>
            <p id='edu'>
                {{ elements.education |linebreaksbr}}
            </p>
        </div>
        <div class="date">
            <p id='date'>Last Updated: {{ elements.updated }}</p>
        </div>
    {% endfor %}
{% endblock %}